
export FilePrefix=BDR ## filename of initial binary plink files that will be appended to all other output
export OutDir=./eQTL
export InDir=./eQTL
export Password="yourpassword" ## your password for zipped files downloaded from michigan imputation server
export MAF=0.05 ## Minor Allele Frequency threshold
export GENO=0.05  ##SNP missing value threshold
export MIND=0.4  ##Samples missing value threshold
export HWE=0.00001 ##Hardy-Weinberg equilibrium exact test p-value threshold
export InputFormat=binary   ## zip (for imputation outputs) , vcf (unzipped imputation outputs) , binary (plink format), ped-map (output of genome studio software)
export CombinedInputs=no  ## combined chromosome separated inputs into one file. Set it to "no" if you have a single input file
export CheckEthnicity=yes
export CheckReletedness=yes
export CheckSex=yes
export FormatForImputation=no
export sumplots=no   ## generate summerize experiment plots using imputation info files

## Reference data filepaths
export RefGenome_legend=./Ref/1000GP_Phase3_combined.legend
export RefGenome_binary=./Ref/1000g_GRCh37_HG19_Referance1 ## Reference genome binary files prefix
export RefGenome_samples=./Ref/phase3_sample_info.csv
export RefGenome_ped=./Ref/20130606_g1k.ped
export RefGenome_info=./Ref/PopInfo.txt
export RefProbe=./Ref/RSprobes.txt

## Software/script filepaths (where not on the command line)
export ScriptDir=./QC
