
InputPrefix="./myGenotype/Cohort1"                                         ## filename of initial binary plink files that will be appended to all other output

Password="yourpassword"                                                    ## your password for zipped files downloaded from michigan imputation server

MAF=0.05                                                                   ## Minor Allele Frequency threshold
GENO=0.05                                                                  ## SNP missing value threshold
MIND=0.4                                                                   ## Samples missing value threshold
HWE=0.00001                                                                ## Hardy-Weinberg equilibrium exact test p-value threshold
InputFormat=binary                                                         ## zip (for imputation outputs) , vcf (unzipped imputation outputs) , binary (plink format), ped-map (output of genome studio software)
CombinedInputs=no                                                          ## combined chromosome separated inputs into one file. Set it to "no" if you have a single input file
GeneralQC=yes
CheckEthnicity=yes
CheckReletedness=yes
Kinship=0.25                                                               ## kinship threshold for filtering related samples
CheckSex=no
FormatForImputation=yes							                                       ## Generating vcf.gz files for Michigan Imputation Server
Addchr=yes                                                                 ## You sould add "chr" before the coromosome number for hg38 data (see Michigan Imputation Server website)
sumplots=no                                                                ## generate summerize experiment plots using imputation info files

RefGenome_legend="./Ref/1000genome/1000GP_Phase3_combined.legend"
RefGenome_binary="./Ref/1000genome/1000G_All_Phase3_SNPsOnly_ChrPos"       ## Reference genome binary files prefix
RefGenome_samples="./Ref/1000genome/phase3_sample_info.csv"

ScriptDir=/lustre/projects/Research_Project-191391/Morteza/github/Genotype_Data_Analysis/QC/
